<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/user.css">
    <Title>NodeFile</Title>
</head>

<body>
    <div class="user">
        <div class="user_head flex">
            <div class="head_home flex">
                <h3 class="head_name">Node</h3>
                <img class="head_img" src="./img/logo.webp" alt="logo">
            </div>
            <div class="flex head_text">
                <h1>DASHBOARD</h1>
            </div>
            <div id="profile" class="flex head_profile">
                <div class="flex">
                   <h3>Perfil</h3>
                    <span class="profile_name"></span>
                </div>
                <div id="profile_o" class="flex-column profile_option oculto">
                    <%if (user.pic) {%>
                        <img class="img-user" src="<%= user.pic %>" alt="profile">
                      <% }else{ %>
                        <img class="img-user" src="./img/comunity.png" alt="profile">
                        <% } %>
                    
                        <strong>Email</strong><%= user.email %> <br>
                        <%if (user.name) {%>
                            <strong>Nombre</strong><%= user.name%> <br>
                        <% } %>


                    <a class="flex exit_login" href="/logout">
                        <img src="./img/exit.svg" alt="">
                        Cerrar Sesion
                    </a>
                </div>
            </div>
        </div>
        <div class="user_nav flex-column">
            <!-- <a class="new_file" href="">+ Nuevo</a> -->
            <input placeholder="Nuevo" id="new_file" type="file" name="file"  multiple="false" >
            <a class="type_file" href="/profile">Todo</a>
            <a class="type_file" href="/section/application">Documentos</a>
            <a class="type_file" href="/section/image">Imagenes</a>
        </div>
        <div class="user_body">
            <ul>
                <li>
                    <h4 class="name">Nombre</h4>
                    <h4 class="date">Fecha de Creacion</h4>
                    <h4 class="type">Tipo Archivo</h4>
                    <h4>Eliminar</h4>
                </li>
                <% if (files) { %>
                    <% for(var i=0; i<files.length; i++) { %>
                        <%  
                            const fechaActual = new Date(Date.parse(files[i].date));
                            const anio = fechaActual.getUTCFullYear();
                            const mes = ('0' + (fechaActual.getUTCMonth() + 1)).slice(-2);
                            const dia = ('0' + fechaActual.getUTCDate()).slice(-2);
                            const fecha = `${dia}-${mes}-${anio}`; 
                        %>
                        <li>
                            <div class="flex name"><img <%if(files[i].filetype == 'image'){%>
                              src="./img/TypeFile/image.svg"
                            <% }else{ %>
                              src="./img/TypeFile/<%= files[i].filetype %>.svg"
                            <% } %>
                            alt=""><a class="download" href="/descargar/<%=files[i]._id %>" download><h4><%= files[i].filename %></h4></a></div>
                            <div class="date"><h4> <%= fecha %> </h4></div>
                            <div class="type"><h4><%= files[i].filetype %> </h4></div>
                            <div><a href="/deleteFile/<%=files[i]._id %>"><img class="delete" width="50" src="./img/borrar.png" alt="" srcset=""> </a></div>
                         </li>
    
                    <% } %>
    
                <%  } else {%>
                    <h2>No hay archivos de este tipo</h2>
                <% } %>
                
            </ul>
            
        </div>
    </div>
    <script>
        const profile = document.getElementById("profile");
        const profileO = document.getElementById('profile_o');
        profile.addEventListener('click', () => {
            profileO.classList.toggle("oculto");
            profileO.classList.toggle("img-user");
        });
        document.addEventListener('click', (event) => {
            if (!profile.contains(event.target) && !profileO.contains(event.target)) {
                profileO.classList.add("oculto");
            }
        });
        const fileInput = document.getElementById("new_file")

		fileInput.addEventListener('change', () => {
			const file = fileInput.files[0];

			const formData = new FormData();
			formData.append('file', file);

			fetch('/Archivo', {
				method: 'POST',
				body: formData
			}).catch(error => {
				// manejar el error
				console.error("No se envio el archivo");
			});
            location.reload();
		});
    </script>
</body>

</html>